# Core API
fastapi
uvicorn[standard]
gunicorn
python-dotenv
python-multipart
slowapi
email-validator

# Database
motor
beanie
pymongo

# AI / ML Services
google-generativeai
openai


# Audio Processing
pydub
requests
audioop-lts

# Security
PyJWT
passlib[bcrypt]

# Utilities
aiofiles
pydantic
pydantic-settings
typing-extensions

# Platform Specific
python-magic; sys_platform != 'win32'
python-magic-bin; sys_platform == 'win32'
